<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covizi">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Covizi">
        <activity
            android:name=".Vaccine_Health_Dec_2"
            android:exported="true" />
        <activity
            android:name=".Vaccine_Health_Dec_1"
            android:exported="true" />
        <activity
            android:name=".Vaccine_Status_5"
            android:exported="true" />
        <activity
            android:name=".Vaccine_Status_4"
            android:exported="true" />
        <activity
            android:name=".Vaccine_Status_3"
            android:exported="true" />
        <activity
            android:name=".CheckInInfo"
            android:exported="true" />
        <activity
            android:name=".Vaccine_Status_2"
            android:exported="true" />
        <activity
            android:name=".Vaccine_Status_1"
            android:exported="true" />
        <activity
            android:name=".FAQActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".EditProfileActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".HotspotActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".QrCodeScan"
            android:exported="true"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".VaccinationConsentForm"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".HealthDeclarationStep2"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".VaccinationBookingStep1"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".VaccinationBookingStep3"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".VaccinationBookingStep2"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".HealthDeclarationStep1"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".CheckOutInfo"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".MakeReport"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".VaccinationStatus"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".ViewDigitalCertificate"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".History"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB7DdwfkbmR29_B--TMW0tDHJyzOb0NWYc" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>